@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/montserrat-v18-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v18-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/montserrat-v18-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v18-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: black;
  background-color: #f2dbc9;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  margin-top: 20px;
  padding: 10px;
  font-weight: 700;
  gap: 20px;
  text-decoration: none;
}

.nav-item {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 40px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #ba3200;
  font-weight: 700;
}

img#me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.section {
  padding: 10px;
  width: 50%;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

hr {
  border-style: dotted;
  border-width: 1px;
  border-color: #ba3200;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-top: 20px;
  padding: 10px;
  font-weight: 700;
}